/* General button styles */
.view-all-button {
    /* Blue background */
    color: #204063 !important;              /* White text color */
    font-size: 16px;           /* Font size */
    padding: 10px 20px;        /* Padding around the text */
    border: none;              /* Remove default border */
    border-radius: 5px;        /* Rounded corners */
    cursor: pointer;           /* Change cursor to pointer */
    transition: background-color 0.3s, transform 0.3s; /* Add smooth transition */
    border: 1px solid #204063;
    font-size: 18px;
    font-weight: 600;
    display: flex !important;
  }
  
  /* Hover effect */
  .view-all-button:hover {
    background-color: #204063; /* Darker blue on hover */
    transform: scale(1.05);     /* Slightly enlarge the button */
    color: #fff !important;
  }
  
  /* Focus effect */
  .view-all-button:focus {
    outline: none;              /* Remove outline on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add focus shadow */
  }
  
  /* Active effect */
  .view-all-button:active {
    background-color: #003f7f; /* Even darker blue when clicked */
    transform: scale(0.98);     /* Slightly shrink the button */
  }
