.subscribe-button{
    background-color: #204063 ;
    border:1px solid #204063 ;
    color:#ffffff ;
    font-size: 20px ;
    font-weight: 400px ;
 padding-top: 8px;
 padding-right: 8px;
 padding-left: 8px;
 padding-bottom:8px;
 border-bottom-right-radius: 4px;
 border-top-right-radius: 4px;
 width: 130px;
 height: 58px;

}
.subscribe-input{
    padding: 17px ;
    width: 35% ;
    background-color: #F3F3F3;
    border: none;
    height: 58px;
}
.subscribe-title{
    font-size: 40px ;
    text-align: center;
    color: #204063 ;
    margin-bottom: 30px ;

}
.subscribe-container{
    padding: 100px ;
}